
@font-face {
  font-weight: 400;
  font-family: 'custom_119758';
  font-style: normal;
  src: url("https://c-p.rmcdn1.net/custom-fonts/font-9790574d-ff4b-48e7-92ee-cee10da84c99.ttf") format('truetype');
}